#scouting-section {
  .sub-nav-panel > img {
    display: block;
    margin-inline: auto;
  }

  .row.row-cols-2 img {
    height: var(--scouting-first-row-image-height, auto);
    object-fit: contain;
  }
}